<?xml version="1.0"?>


<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
    	<add id="Lof_ChatSystem::chatsystem" title="Chat" module="Lof_ChatSystem" sortOrder="280" icon="fa fa-commenting-o" resource="Lof_ChatSystem::chatsystem"/>
    	<add id="Lof_ChatSystem::chat" title="Chat with customer" module="Lof_ChatSystem" action="lofchatsystem/chat/index" sortOrder="10"  resource="Lof_ChatSystem::chat" parent="Lof_ChatSystem::chatsystem" />
    </menu>
</config>